*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFF99;
  height: 1500px;
  font-size: 25px;
}

img { max-width: 100%; }

.nav {
  background-color: #36454f;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  padding: 10px 35px 10px 35px;
}

.cname {
  display: flex;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #FFFF99;
  align-self: center;
  justify-content: center;
  margin-bottom: 5px;

}

.icon-container {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  border: 5px solid red;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#bicon {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  border: 5px solid blue;
  z-index: 5;
}

#bicon:hover {
  transform: rotate(-90deg);
}

.bread-c {
  display: flex;
  border: 2px solid gray;
  position: relative;
  top: 100px;
  overflow: hidden;
  z-index: -1;
}

.bread {
  display: flex;
}

.header {
  display: flex;
  max-width: 20%;
  position: fixed;
  bottom: 0;
  left: 40%;
  border: 5px solid red;
}

.logo {
  display: flex;
  max-width: 100%;
}
