*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFF99;
  height: 1500px;
  font-size: 25px;
}

.nav {
  background-color: #36454f;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  /*border: 2px solid black; /*Debug*/
  padding: 10px;
}

.cname {
  display: flex;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #FFFF99;
  align-self: center;
  justify-content: center;
  margin-bottom: 5px;

}

.icon {
  display: flex;
/*  border: 2px solid red; /*Debug*/
  height: 50px;
  width: 50px;
  align-self: center;
}

.header {
  display: flex;
  width: 30%;
  margin-top: 15%;
  margin-left: 15%;
  position: sticky; top: 100px;
/*  border: 2px solid black; /*Debug*/
}
