* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {max-width: 100%;}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: gray;
}

.top-c {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #36454f;
  height: 15vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid blue;
}

.top {
  display: flex;
  background-color: red;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.cname {
  display: flex;
  width: auto;
  font-size: 8.5vw;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  color: #FFFF99;
  align-self: flex-end;
  justify-content: center;
  margin-bottom: 5px;
}

.icon-c {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bicon {
  display: flex;
  height: auto;
  width: 8vw;
  transition: transform 1s;
}

.bicon:hover {transform: rotate(-90deg)}

.dropdown-content:hover ~ .bicon {transform: rotate(-90deg)}

/*
.main-c {
  display: flex;
  align-self: center;
  width: 100%;
  background-image: linear-gradient(#FFFF99, #da8a67);
  height: 70vh;
  border: 2px solid green;
}


.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.section {
  display: flex;
  border: 5px solid #0d36454f;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
}


.bottom-c {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  border: 2px solid yellow;
}

*/
.mid-back {
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#FFFF99, #da8a67);
  border: 15px solid green;
}

.bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid red;
  height: 15vh;
  width: 100%;
}

.logo-c {
  display: flex;
  border: 2px solid black;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.logo {
  display: block;
  width: auto;
  height: 100%;
  border: 2px solid green;
}



.dropdown {
  position: relative;
  height: auto;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #FFFF99;
  border: 3px solid #36454f;
  min-width: 160px;
  padding: 12px 20px;
  margin-top: -12px;
  z-index: 0;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .bicon {
  transform: rotate(-90deg);
}
